<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CESI ZEN Home page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/CSS/styles.css}">
</head>
<body>
<header>
    <div th:replace="fragments/navFragment :: nav"></div>
</header>
<div class="main-container">
    <h1>Liste des ressources</h1>
    <ul>
        <li th:each="user : ${users}">
            <strong th:text="${user.name}">Type</strong> -
        </li>
    </ul>
</div>
<script th:src="@{/JS/scripts.js}"></script>
</body>
</html>