<!DOCTYPE HTML>
<html lang="fr-FR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<nav class="menu">
    <ul class="menu-links">
        <li><a th:href="@{/home}">ACCUEIL</a></li>
        <li><a th:href="@{/ressources}">RESSOURCES</a></li>
        <li><a th:href="@{/categories}">CATEGORIES</a></li>
        <li><a th:href="@{/respiration}">EXERCICE</a></li>
        <li><a th:href="@{/sos}">SOS</a></li>
        <li sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/admin/dashboard}">ADMIN</a>
        </li>
    </ul>
    <div class="menu-toggle">☰</div>
    <img th:src="@{/images/logoCesiZen.svg}" alt="logo cesizen" style="float:right" width="15%"/>
    <a th:href="@{/login}">
        <img alt="icône de connexion utilisateur" title="Google login"
             th:src="@{/images/icon_user_connexion.svg}" />
    </a>
</nav>
</body>