<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="fr">

<head>
    <title>CESI ZEN Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/CSS/styles.css}">
</head>
<header>
    <div th:replace="fragments/navFragment :: nav"></div>
</header>
<body>
    <div class="main-container">
        <h1>Créer un compte utilisateur</h1>

        <!-- Message de succès -->
        <div th:if="${message}" class="success-message">
            <p th:text="${message}"></p>
        </div>

        <!-- Formulaire de création -->
        <form th:action="@{/users/create}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" th:field="*{name}" required>
            </div>

            <div class="form-group">
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" th:field="*{mot_de_passe}" required>
            </div>

            <button type="submit" class="btn-submit">Créer le compte</button>
        </form>

        <p><a href="/login">Déjà un compte ? Se connecter</a></p>
    </div>
    <script th:src="@{/JS/scripts.js}"></script>
</body>

</html>