<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="fr">

<head>
    <title>CESI ZEN Error Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/CSS/styles.css}">
</head>
<header>
    <nav class="menu">
        <ul class="menu-links">
            <li><a href="/home">ACCUEIL</a></li>
            <li><a href="/ressources">RESSOURCES</a></li>
            <li><a href="/categories">CATEGORIES</a></li>
            <li><a href="/sos">SOS</a></li>
        </ul>
        <div class="menu-toggle">☰</div>
        <img th:src="@{/images/logoCeziZen.png}" alt="logo cesizen" style="float:right" width="7%"/>
    </nav>
</header>
<body>
<div>
    <h1>Oups ! Une erreur est survenue</h1>
    <p>
        <strong>Code d'erreur : </strong>
        <span th:text="${status}">500</span>
    </p>
    <p>
        <strong>Message : </strong>
        <span th:text="${error} ?: 'Erreur inconnue'">Erreur inconnue</span>
    </p>
    <p th:if="${message != null and !message.isEmpty()}">
        <strong>Détails : </strong>
        <span th:text="${message}">Détails de l'erreur</span>
    </p>
    <a th:href="@{/}">Retour à l'accueil</a>
</div>
<script src="JS/scripts.js"></script>
</body>
</html>
