<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="fr">

<head>
    <title>CESI ZEN Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/styles.css">
</head>
<header>
    <nav class="menu">
        <ul class="menu-links">
            <li><a href="/home">ACCUEIL</a></li>
            <li><a href="/ressources">RESSOURCES</a></li>
            <li><a href="/categories">CATEGORIES</a></li>
            <li><a href="/sos">SOS</a></li>
        </ul>
        <div class="menu-toggle">☰</div>
        <img src="images/logoCeziZen.png" alt="logo cesizen" style="float:right" width="7%"/>
    </nav>

</header>
<body>
<h1>Please Log In</h1>
<div th:if="${param.error}">
    Invalid username and password.</div>
<div th:if="${param.logout}">
    You have been logged out.</div>
<form th:action="@{/login}" method="post">
    <div>
        <input type="text" name="username" placeholder="Username"/>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password"/>
    </div>
    <input type="submit" value="Log in" />
</form>
<script src="JS/scripts.js"></script>
</body>

</html>