<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CESI ZEN Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="CSS/styles.css">
</head>
<header>
    <nav class="menu">
        <ul class="menu-links">
            <li><a href="/home">ACCUEIL</a></li>
            <li><a href="#">CATEGORIES</a></li>
            <li><a href="#">SOS</a></li>
        </ul>
        <div class="menu-toggle">☰</div>
        <img src="images/logoCeziZen.png" alt="Grapefruit slice atop a pile of other slices" style="float:right" width="7%"/>
    </nav>

</header>
<body>
<p th:text="|Hello, please login !|" />

<p th:if="${loginError}" class="error">Wrong user or password</p> <!-- si thymeleaf lit une erreur de security, il affichera ceci -->
<form th:action="@{/login}" method="post"> <!--requête interceptée par security-->
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" /> <br />
    <input type="submit" value="Log in" />
</form>

</body>
<script src="JS/scripts.js"></script>
</html>